<div class="card rounded" style="width: 22%;">
  <img src={{this.img}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: green">{{this.name}}</h5>
    {{!-- <a href="#" class="btn btn-primary">Close</a> --}}
  </div>
</div>