
<div class="row pt-5 pb-3 ml-5 mr-5 bg-dark">
    <div class="col-12">
        <h3 class="text-uppercase text-center text-white">Biography</h3>
    </div>
</div>

<div class="row pt-5 pb-3 ml-5 mr-5 bg-warning">
    <div class="col-12">

            <div class="accordion row" id="accordionExample">
                <div class="accordion-item col-4">
                    <h4 class="accordion-header ml-5" id="headingOne">
                        <button class="accordion-button text-center rounded ml-5" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne" id="accordion-button-1">
                            Childhood
                        </button>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body m-3 text-justify rounded">
                            <h7>Chloe Ardelia Wofford, the second of four children from a
                                working-class, black family, was born in Lorain, Ohio, to Ramah (née Willis) and George
                                Wofford. Her mother was born in Greenville, Alabama, and moved north with her family as
                                a child. She was a homemaker and a devout member of the African Methodist Episcopal
                                Church. George Wofford grew up in Cartersville, Georgia. When Wofford was about 15, a
                                group of white people lynched two black businessmen who lived on his street. Morrison
                                later said: "He never told us that he'd seen bodies. But he had seen them. And that was
                                too traumatic, I think, for him." Soon after the lynching, George Wofford moved to the
                                racially integrated town of Lorain, Ohio, in the hope of escaping racism and securing
                                gainful employment in Ohio's burgeoning industrial economy. He worked odd jobs and as a
                                welder for U.S. Steel. Traumatized by his experiences of racism, in a 2015 interview
                                Morrison said her father hated whites so much he would not let them in the house.</h7>
                            <hr>
                            <h7> When Morrison was about two years old, her family's landlord set fire to the house in
                                which they lived, while they were home, because her parents could not afford to pay
                                rent. Her family responded to what she called this "bizarre form of evil" by laughing at
                                the landlord rather than falling into despair. Morrison later said her family's response
                                demonstrated how to keep your integrity and claim your own life in the face of acts of
                                such "monumental crudeness."</h7>
                            <hr>
                            <h7>Morrison's parents instilled in her a sense of heritage and language through telling
                                traditional African-American folktales, ghost stories, and singing songs. Morrison also
                                read frequently as a child; among her favorite authors were Jane Austen and Leo Tolstoy.
                            </h7>
                            <hr>
                            <h7>She became a Catholic at the age of 12 and took the baptismal name Anthony, which led to
                                her nickname, Toni.</h7>
                            <hr>
                            <h7> Attending Lorain High School, she was on the debate team, the yearbook staff, and in
                                the
                                drama club.</h7>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-4">
                    <h4 class="accordion-header ml-5" id="headingTwo">
                        <button class="accordion-button collapsed text-center rounded ml-5" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo" id="accordion-button-2">
                            The formative years
                        </button>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-justify">
                            <h7>Morrison’s first book, The Bluest Eye (1970), is a novel of initiation concerning a
                                victimized adolescent Black girl who is obsessed by white standards of beauty and longs
                                to have blue eyes. In 1973 a second novel, Sula, was published; it examines (among other
                                issues) the dynamics of friendship and the expectations for conformity within the
                                community. Song of Solomon (1977) is told by a male narrator in search of his identity;
                                its publication brought Morrison to national attention. Tar Baby (1981), set on a
                                Caribbean island, explores conflicts of race, class, and sex.</h7>
                                <hr>
                            <h7>The critically acclaimed Beloved (1987), which won a Pulitzer Prize for fiction, is
                                based on the true story of a runaway slave who, at the point of recapture, kills her
                                infant daughter in order to spare her a life of slavery. A film adaptation of the novel
                                was released in 1998 and starred Oprah Winfrey. In addition, Morrison wrote the libretto
                                for Margaret Garner (2005), an opera about the same story that inspired Beloved.</h7>
                                <hr>
                            <h7>In 1992 Morrison released Jazz, a story of violence and passion set in New York City’s
                                Harlem during the 1920s. Subsequent novels were Paradise (1998), a richly detailed
                                portrait of a Black utopian community in Oklahoma, and Love (2003), an intricate family
                                story that reveals the myriad facets of love and its ostensible opposite. A Mercy (2008)
                                deals with slavery in 17th-century America. In the redemptive Home (2012), a traumatized
                                Korean War veteran encounters racism after returning home and later overcomes apathy to
                                rescue his sister. In God Help the Child (2015), Morrison chronicled the ramifications
                                of child abuse and neglect through the tale of Bride, a Black girl with dark skin who is
                                born to light-skinned parents.</h7>
                                <hr>
                            <h7>A work of criticism, Playing in the Dark: Whiteness and the Literary Imagination, was
                                published in 1992. Many of Morrison’s essays and speeches were collected in What Moves
                                at the Margin: Selected Nonfiction (2008; edited by Carolyn C. Denard) and The Source of
                                Self-Regard: Selected Essays, Speeches, and Meditations (2019). She and her son, Slade
                                Morrison, cowrote a number of children’s books, including the Who’s Got Game? series,
                                The Book About Mean People (2002), and Please, Louise (2014). She also penned Remember
                                (2004), which chronicles the hardships of Black students during the integration of the
                                American public school system; aimed at children, it uses archival photographs
                                juxtaposed with captions speculating on the thoughts of their subjects. For that work,
                                Morrison won the Coretta Scott King Award in 2005.</h7>
                                <hr>
                            <h7>The central theme of Morrison’s novels is the Black American experience; in an unjust
                                society, her characters struggle to find themselves and their cultural identity. Her use
                                of fantasy, her sinuous poetic style, and her rich interweaving of the mythic gave her
                                stories great strength and texture. In 2010 Morrison was made an officer of the French
                                Legion of Honour. Two years later she was awarded the U.S. Presidential Medal of
                                Freedom. Toni Morrison: The Pieces I Am (2019) is a documentary about her life and
                                career.</h7>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-4">
                    <h4 class="accordion-header ml-5" id="headingThree">
                        <button class="accordion-button collapsed text-center rounded ml-5" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree" id="accordion-button-3">
                            Maturity
                        </button>
                    </h4>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-justify">
                            <h7>In May 2010, Morrison appeared at PEN World Voices for a conversation with Marlene van
                                Niekerk and Kwame Anthony Appiah about South African literature, and specifically van
                                Niekerk's 2004 novel Agaat.[80]

                                Morrison wrote books for children with her younger son, Slade Morrison, who was a
                                painter and a musician. Slade died of pancreatic cancer on December 22, 2010, aged
                                45.[25][81] Morrison's novel Home (2012) was half-completed when Slade died.[25]

                                In May 2011, Morrison received an Honorary Doctor of Letters degree from Rutgers
                                University–New Brunswick during the commencement ceremony,[82] where she delivered a
                                powerful speech on the "pursuit of life, liberty, meaningfulness, integrity, and truth."
                            </h7>
                            <hr>
                            <h7>Morrison debuted another work in 2011: She worked with opera director Peter Sellars and
                                Malian singer-songwriter Rokia Traoré on a new production, Desdemona, taking a fresh
                                look at William Shakespeare's tragedy Othello. The trio focused on the relationship
                                between Othello's wife Desdemona and her African nursemaid, Barbary, who is only briefly
                                referenced in Shakespeare. The play, a mix of words, music and song, premiered in Vienna
                                in 2011.[19][15][83]

                                Morrison had stopped working on her latest novel when her son died. She said that
                                afterwards, "I stopped writing until I began to think, He would be really put out if he
                                thought that he had caused me to stop. 'Please, Mom, I'm dead, could you keep going
                                ...?'"[84]

                                She completed Home and dedicated it to her son Slade Morrison.[14][85][86] Published in
                                2012, it is the story of a Korean War veteran in the segregated United States of the
                                1950s, who tries to save his sister from brutal medical experiments at the hands of a
                                white doctor.[84]</h7>
                                <hr>
                            <h7>In August 2012, Oberlin College became the home base of the Toni Morrison Society,[87]
                                an international literary society founded in 1993, dedicated to scholarly research of
                                Morrison's work.[88][89][90]

                                Morrison's eleventh novel, God Help the Child, was published in 2015. It follows Bride,
                                an executive in the fashion and beauty industry whose mother tormented her as a child
                                for being dark-skinned – a childhood trauma that has dogged Bride her whole life.[91]

                                Morrison was a member of the editorial advisory board of The Nation, a magazine started
                                in 1865 by Northern abolitionists.</h7>
                                <hr>
                            <h7>Morrison died at Montefiore Medical Center in The Bronx, New York City, on August 5,
                                2019, from complications of pneumonia. She was 88 years old.[3][95][96]

                                A memorial tribute was held for Morrison on November 21, 2019, at the Cathedral of St.
                                John the Divine in the Morningside Heights neighborhood of Manhattan in New York City.
                                At this gathering she was eulogized by, among others, Oprah Winfrey, Angela Davis,
                                Michael Ondaatje, David Remnick, Fran Lebowitz, Ta-Nehisi Coates, and Edwidge
                                Danticat.[97] The jazz saxophonist David Murray performed a musical tribute.[98]</h7>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<div class="row pt-5 pb-3 ml-5 mr-5 bg-dark">
    <div class="col-12">
        <h3 class="text-uppercase text-center text-white">Toni Morrison on screen</h3>
    </div>
</div>


<div class="row ml-5 mr-5 bg-warning">
    {{#each onScreen}}
    {{>screenCard this}}
    {{/each}}
</div>

<div class="row ml-5 mr-5 bg-dark">
    <div class="col-12">
        <h5 class="text-uppercase text-center text-white pt-3">You might also like</h5>
    </div>
</div>

<div class="row ml-5 mr-5 bg-warning">
    {{#each others}}
    {{>screenCard this}}
    {{/each}}
</div>