
<div
  class="bg-image m-0"
  style="
    background-image: url('/img/tm-bg.jpg');
    height: 100vh;
    background-size: cover;
  "
><h2 class="text-danger text-center pt-5 text-uppercase">A website about american author Toni Morrison</h2></div>
