<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Toni Morrisson</title>
    <script type="module" src="/script.js"></script>

    {{#if css}}
		{{#each css}}
			<link rel="stylesheet" href="/css/{{this}}" />
		{{/each}}
     {{else }}
    <link rel="stylesheet" href="/styles.css" />
     {{/if}}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div id="main" class="container-lg bg-dark text-danger">
    <div class="row">
    {{> nav}}
    </div>
    </div class="row">
    <div class="container-lg no-gutters">
    {{{ body }}}
    </div>
    </div>
    <div class="row bg-dark text-danger">
        {{> footer}}
    </div>
</div>

</body>

</html>